.pfp
{
    width: 140px;
    height: 140px;
    border-radius: 90px;
}

button
{
    background-color: #f44336;
    color: white;
    text-align: center;
}

button:hover
{
    background-color: red;
}